@media only screen and (max-width: 1499px) {
  .side-maenu-content h4 {
    font-size: 16px;
    line-height: 23px;
  }
}

@media only screen and (min-width: 992px) {
  .nav-bar {
    opacity: 0;
    pointer-events: none;
  }

  .close-icon {
    display: none;
  }

  
}

@media only screen and (max-width: 991px) {
  .nav-bar {
    opacity: unset;
    pointer-events: unset;
  }

  .side-menu {
    position: fixed;
    margin-left: -400px;
    transition: 0.9s ease-in-out;
  }

  .main-section {
    width: 100%;
    transition: 0.9s ease-in-out;
  }

  .page-wapper.open .side-menu {
    margin-left: 0;
    transition: 0.9s ease-in-out;
  }

  .page-wapper.open .main-section {
    width: 100%;
    transition: 0.9s ease-in-out;
  }

  .close-icon {
    width: 24px;
    display: block;
    margin-right: auto;
    cursor: pointer;
  }
  .main-section {
    padding: 30px 20px;
  }


  .page-title {
    padding-top: 50px;
    font-size: 25px;
}
}

@media only screen and (max-width: 767px) {

    .profile-name-part {
        width: 120px;
    }
    footer p {
        text-align: center;
    }

}
