* {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
  outline: none;
}
img {
  border: 0px;
  outline: none;
  display: block;
}
ul {
  list-style: none;
  margin: 0px;
}
li {
  list-style-type: none;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Poppins";
}

/* custom scrool bar  */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: inset 9px -17px 20px #dce7df;
  border-radius: 4px;
  border: 2px solid transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent linear-gradient(56deg, #e1bef3 0%, #fcc9ba 100%) 0% 0%
  no-repeat padding-box;
  border-radius: 10px;
}
.page-main {
  background: url("../Assets/images/background.svg") #f5f0f7 no-repeat;
  background-size: 100%;
  background-position: top center;
  min-height: 100vh;
}

.side-menu {
  width: auto;
  min-width: calc(325px - 60px);
  max-width: calc(325px - 60px);
  display: block;
  background-color: #fff;
  height: 100vh;
  border-top-right-radius: 144px;
  border-bottom-right-radius: 144px;
  padding: 20px 20px 20px 40px;
  position: relative;
}

.logo-sec {
  display: block;
  width: 100%;
}

.logo-sec img {
  width: 100%;
  height: auto;
}
.side-menu-footer {
  position: absolute;
  bottom: 70px;
}

.side-maenu-content {
  background: url(../Assets/images/outline_arrow.svg) no-repeat;
  background-position: 90% 20%;
  padding-bottom: 10px;
  border-bottom: 1px solid #faeceb;
  margin-bottom: 26px;
}

.nav-bar span {
  width: 100%;
  height: 4px;
  background-color: #5c3e70;
  margin: 2px 0px;
  display: block;
  border-radius: 3px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  border-radius: 3px;
}

.profile-section-icon img {
  transform: rotate(90deg);
}

/* main section  */
.row {
  row-gap: 20px;
  margin: 0 !important;
}
.custom-container {
  width: 100%;
  max-width: 1032px;
  margin: auto;
}
.smallFont {
  font-size: 12px;
}
.page-wapper {
  display: flex;
}

header {
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-section {
  width: calc(100% - 240px);
  padding: 30px 70px;
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: end;
}

.profile-img {
  width: 44px;
  aspect-ratio: 1;
  background: #5c3e70;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.profile-img span {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.profile-name-part p {
  color: #000000;
  margin-bottom: 3px;
}

.profile-name-part h5 {
  font: normal normal 600 18px/23px Poppins;
  margin: 0;
}

.profile-name-part {
  margin: 0 14px;
  width: 200px;
}
.inner-section {
  float: left;
  width: 100%;
  display: block;
  height: calc(100vh - 138px);
  overflow: auto;
}
section.section-part {
  padding: 20px 0;
  float: left;
  width: 100%;
  display: block;
}
h1 {
  color: #000000;
  font: normal normal 600 30px/23px Poppins;
  margin-bottom: 35px;
}

.section-title p {
  margin-bottom: 3px;
}

.section-title h5 {
  font: normal normal 600 18px/23px Poppins;
  margin-bottom: 10px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.button-section button {
  font: normal normal 600 12px/23px Poppins;
  border: unset;
  background: transparent;
  padding: 7px 25px;
  height: 40px;
}

.button-section button.active {
  background: #5c3e70 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px 5px #94779e73;
  border: 1px solid #5c3e70;
  border-radius: 20px;
  color: #ffffff;
}

.details-card-section {
  background: transparent linear-gradient(56deg, #e1bef3 0%, #fcc9ba 100%) 0% 0%
    no-repeat padding-box;
  box-shadow:-3px 2px 9px 0px #94779E6B;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  min-height: 100%;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  row-gap: 10px;
}
.button-section{
  margin: 10px 0 20px 0;
}
.count {
  font: normal normal 200 26px/50px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  width: 91px;
  background: #5a3c6f 0% 0% no-repeat padding-box;
  border: 1px solid #5c3e70;
  display: flex;
  align-items: center;
  text-align: center;
  aspect-ratio: 1;
  border-radius: 50%;
  justify-content: center;
}
.section-card-part.even .details-card-section {
  background: #6b4f7e;
}
.details-card-section .booking-link {
  font: normal normal 300 10px/17px Poppins;
  letter-spacing: 0px;
  color: #c5acd0;
  margin: 0;
}
.section-card-part.even .count {
  border: 1px solid #f8dbd9;
  background: transparent;
}

.section-card-part.even .card-increased span {
  background: #f8dbd9;
}
.card-details h6 {
  text-align: left;
  font: normal normal 600 14px/13px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  padding-bottom: 9px;
  border-bottom: 1px solid #ffffff5c;
}

.card-increased {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-increased span {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 6px;
  width: 26px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-details p {
  color: #ffffff;
  margin: 0;
  margin-top: 10px;
}
.card-increased p {
  margin: 0;
}

.chart-sectrion {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 18px #94779e0d;
  border-radius: 15px;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-title {
  font: normal normal 600 30px/23px Poppins;
  margin-bottom: 15px;
  padding-top: 112px;
}
.active-bg {
  background: url(../Assets/images/solid_arrow.svg) no-repeat;
  background-position: 90% 20%;
}

.border-none {
  border: none;
}

.side-maenu-content a {
  text-decoration: none;
}

.side-maenu-content p {
  font-size: 12px;
  text-align: left;
  color: #403b43;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 10px;
  font-family: "Poppins";
}

.side-maenu-content h4 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  font-style: normal;
  color: #5c3e70;
  margin: 0px;
  font-family: "Poppins";
}

.side-menu-footer p {
  color: #938b98;
  margin: 0px;
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  font-weight: normal;
  font-family: "Poppins";
}

.side-menu-footer p span {
  color: #403b43;
  font-weight: 600;
}

.side-menu-list {
  display: block;
  width: 100%;
  margin-top: 30px;
}

footer {
  float: left;
  width: 100%;
  display: block;
}

footer p {
  color: #403b43;
  text-align: right;
  margin: 0;
}
